.description-text {
    border-style: dashed;
    border-width: 5px;
    border-color: rgb(159, 159, 159);
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    font-size: 25px;
    font-weight: 400;
}