/* .book-from {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.book-form> * {
    margin: 10px;
}

.input {
    margin-bottom: 10px;
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 13px 14px;
    width: 620px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Microsoft soft";
}

.submit{
    width:80px;
    height: 40px;
    border:solid rgb(102, 102, 102);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.submit:hover {
    cursor: pointer;
    background-color:rgb(102, 102, 102);
}
