.content .list-title {
    font-size: 20px;
    font-weight: 700;
    margin: auto;
}

.content ul {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.content li {
    max-width: 200px;
    max-height: 350px;
    list-style: none;
    border: 1px solid;
    margin: 10px;
}



.cover img {
    display: block;
    max-width: 80%;
    max-height: 80%;
    align-self: flex-end;
    padding: 30px;
}

.cover img> {}



.form {
    padding-top: 40px;
}