<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <title>template</title>
</head>
<body>
    <div class="app">
        <header class="header">
            <div class="logo">
                <a href="index.html">YeeBing</a>
            </div>
            <nav class="nav">
                <ul class="item">
                    <li>
                        <a href="resume.html">关于我</a>
                    </li>
                    <li>
                        <a href="list.html">详细</a>
                    </li>
                    <li>
                        <a href="classification.html">分类</a>
                    </li>
                    <li style="white-space: nowrap;">
                        <a href="index.html">主页</a>
                    </li>
                </ul>
            </nav>
        </header>
    <div class="main">
        <div class="content">
            
        </div>
    </div>
    <footer class="footer">
        YeeBing
    </footer>
</div>
</body>
</html>